<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>大狗二狗的狗窝</title>
    <!-- 指定图标 -->
    <link rel="icon" href="{{ url_for('static',filename='source/image/icon/twodog.jpeg') }}" type="image/x-icon">
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='js/index/base.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='fonts/font-awesome.min.css') }}" >
    <!--[if lte IE 8]>
    <script src="{{ url_for('static',filename='vendor/ie/js/html5shiv.js') }}"></script>
    <![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="{{ url_for('static',filename='vendor/ie/css/ie9.css') }}" /><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ url_for('static',filename='vendor/ie/css/ie8.css') }}" /><![endif]-->
    {% block link %}{% endblock %}
</head>
<body>
    <div id="wrapper">
        <header id="header">
            <a href="/">
                <h1>
                    卞广刚的小窝
                </h1>
            </a>
            <nav class="links">
                <ul>
                    <li><a href="/blog">写点日志</a></li>
                    <li><a href="/video">图片视频</a></li>
                    <li><a href="/music">音乐合集</a></li>
                    <li><a href="/message">留下你的爪印</a></li>
                </ul>
            </nav>
            <nav class="main">
                <ul>
                    <li class="search">
                        <a class="fa-search" href="#search">Search</a>
                        <form id="search" method="get" action="#">
                            <input type="text" name="query" placeholder="Search"/>
                        </form>
                    </li>
                    <li class="menu">
                        <a class="fa-bars" href="#menu">follow me</a>
                    </li>
                </ul>
            </nav>

        </header>
        <section id="menu">

            <!--search content-->
            <section>
                <form class="search" method="get" action="#">
                    <input type="text" name="query" placeholder="search" />
                </form>
            </section>

            <section>
                <ul class="links">
                    <li>
                        <a href="/blog">写点日志</a>
                    </li>
                    <li>
                        <a href="/video">图片视频</a>
                    </li>
                    <li>
                        <a href="/music">音乐合集</a>
                    </li>
                    <li>
                        <a href="/message">留下你的爪印</a>
                    </li>
                </ul>
            </section>
            <section>
                <ul class="actions vertical">
                    <li>
                        {% if user %}
                            <a href="/Logout" class="button big fit">{{ user }}退出登陆</a>
                        {% else %}
                            <a href ="/Login" class="button big fit">登录</a>
                        {% endif %}
                    </li>
                </ul>
            </section>
        </section>
        {% block main %}{% endblock %}
    </div>
    <!--Script-->
    <script src="{{ url_for('static',filename='vendor/skel/skel.min.js') }}"></script>
    <script src="{{ url_for('static',filename='vendor/util/util.js') }}"></script>
    <!--[if lte IE 8]>
    <script src="{{ url_for('static', filename='vendor/ie/js/respond.min.js') }}"></script>
    <![endif]-->
    <script src="{{ url_for('static',filename='vendor/main/main.js') }}"></script>
    {% block javascript %}{% endblock %}
    <script type="text/javascript">
        function img_no_find(){
            var img = event.srcElement;
            img.src = "{{ url_for('static',filename='images/Error/default.png') }}";
            img.onerror = null;
        }
    </script>
</body>
</html>
