<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>大狗二狗的狗窝</title>
    <!-- 指定图标 -->
    <link rel="icon" href="{{ url_for('static',filename='images/icons/twodog.jpeg') }}" type="image/x-icon">
    {% block link %}{% endblock %}
    <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/homepage/homepage.css') }}">
    <!--[if lte IE 8]>
    <script src="{{ url_for('static',filename='vendor/ie/js/html5shiv.js') }}"></script>
    <![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="{{ url_for('static',filename='vendor/ie/css/ie9.css') }}" /><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="{{ url_for('static',filename='vendor/ie/css/ie8.css') }}" /><![endif]-->
</head>
<body onload="getInfo()">
<!--在body里添加getInfo函数，用于各个页面通过该函数获取初始信息-->
    <div id="wrapper">
        <header id="header">
            <a href="/">
                <h1>
                    两只汪财
                </h1>
            </a>
            <nav class="links">
                <ul>
                    <li><a href="/blog">写点日志</a></li>
                    <li><a href="/video">图片视频</a></li>
                    <li><a href="/music">音乐合集</a></li>
                    <li><a href="/message">留下你的爪印</a></li>
                </ul>
            </nav>
            <nav class="main">
                <ul>
                    <li class="search">
                        <a class="fa-search" href="#search">Search</a>
                        <form id="search" method="get" action="#">
                            <input type="text" name="query" placeholder="Search"/>
                        </form>
                    </li>
                    <li class="menu">
                        <a class="fa-bars" href="#menu">follow me</a>
                    </li>
                </ul>
            </nav>

        </header>
        <section id="menu">

            <!--search content-->
            <section>
                <form class="search" method="get" action="#">
                    <input type="text" name="query" placeholder="search" />
                </form>
            </section>

            <section>
                <ul class="links">
                    <li>
                        <a href="/blog">写点日志</a>
                    </li>
                    <li>
                        <a href="#">撒狗粮啦</a>
                    </li>
                    <li>
                        <a href="#">娱乐活动</a>
                    </li>
                    <li>
                        <a href="#">留下你的爪印</a>
                    </li>
                </ul>
            </section>
            <section>
                <ul class="actions vertical">
                    <li>
                        {% if user %}
                            <a href="/Logout" class="button big fit">{{ user }}退出登陆</a>
                        {% else %}
                            <a href ="/Login" class="button big fit">登录</a>
                        {% endif %}
                    </li>
                </ul>
            </section>
        </section>
        {% block main %}{% endblock %}
    </div>

    <!--Script-->
    <script src="{{ url_for('static',filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/skel.min.js') }}"></script>
    <script src="{{ url_for('static',filename='js/util.js') }}"></script>
    <!--[if lte IE 8]><script src="{{ url_for('static', filename='js/ie/respond.min.js') }}"></script><![endif]-->
    <script src="{{ url_for('static',filename='js/main.js') }}"></script>
</body>
</html>
