{% extends "base.html" %}
{% block main %}
        <!--main-->
        <div id="main">
            <article class="post">
                <header>
                    <!--博客题目-->
                    <div class="title">
                        <!--标题-->
                        <h2><a href="#">芝 麻 开 门</a></h2>
                        <!--简介-->
                        <p>大狗给狗窝装上了防盗门，除了他俩谁也别想进去</p>
                    </div>
                </header>
                <form method="post">
                    {% if warn %}
                        <p>{{ warn }}</p>
                    {% endif %}
                    <input type="text" placeholder="这里填用户名" name="username"/>
                    <p></p>
                    <input type="password" placeholder="这里填你的密码" name="password"/>
                    <p></p>
                    <input class="button big next" type="submit" value="登陆" />
                </form>
                <footer>

                </footer>
            </article>

            <!--页面显示-->

        </div>
{% endblock %}
