{% extends "base.html" %}
{% block main %}
        <!--main-->
        <div id="main">
            {% if blog_num == 0 %}
                <h2>现在还没有博客，快去写一个把</h2>
            {% else %}
                {% for blog in blog_set %}
                    <div id="article">
                        <article class="post">
                            <header>
                                <div class="title">
                                    <h2><a href="/blog/{{ blog['id'] }}">{{ blog['head']['title'] }}</a></h2>
                                    <p>{{ blog['introduce'] }}</p>
                                </div>
                                <div class="meta">
                                    <time class="published" datetime="2019-3-13">{{ blog['head']['last_fetch_time'] }}</time>
                                    <a href="#" class="author">
                                        <span class="name">en</span>
                                        <img src="{{ url_for('static',filename='images/icons/twodog.jpeg') }}" alt=""/>
                                    </a>
                                </div>
                            </header>
                            {% if 'image' in blog['content'] %}
                                <a href="/blog/{{ blog['id'] }}" class="image featured">
                                    <img src="../{{ blog['content']['image'] }}" alt="" />
                                </a>
                            {% else %}
                                <a href="/blog/{{ blog['id'] }}" class="image featured">
                                    <img src="../static/source/image/error/default.jpg" alt="" />
                                </a>
                            {% endif %}
                            <footer>
                                <ul class="actions">
                                    <li>
                                        <a href="/blog/{{ blog['id'] }}" class="button big">继续阅读</a>
                                    </li>
                                </ul>
                                <ul class="stats">
                                    <li>
                                        {% if 'assort' in blog['head'] %}
                                            <a href="#">{{ blog['head']['assort'] }}</a>
                                        {% else %}
                                            <a href="#">默认</a>
                                        {% endif %}
                                    </li>
                                    <li>
                                        <a href="#" class="icon fa-heart">0</a>
                                    </li>
                                    <li>
                                        <a href="#" class="icon fa-comment">0</a>
                                    </li>
                                </ul>
                            </footer>
                        </article>
                    </div>
                {% endfor %}
            {% endif %}
            <ul class="actions pagination">
                <!--<li><a href="#" id="submit" class="disabled button big next">显示更多</a></li>-->
                <li><a href="#" id="submit" class="button big next">显示更多</a></li>
                <li><input type="hidden" name="next_data" value="2"></li>
            </ul>
        </div>

        <!--左侧目录-->
        <section id="sidebar" onload="getInfo()">
            <!--介绍-->
            <section id="intro">
                <a href="#" class="logo"><img src="{{ url_for('static', filename='images/icons/twodog.jpeg') }}" alt="" /></a>
                <header>大狗二狗的狗窝</header>
                <p></p>
                <p></p>
                <ul style="list-style-type: none;">
                    {% if user %}
                        <li>
                            <a href="write" class="button big next">写点东西</a>
                        </li>
                    {% endif %}
                    <li>
                        <p style="margin-top: 20px;margin-bottom: 0px;">分类</p>
                        <select class="button big next">
                            <option value ="volvo">Volvo</option>
                            <option value ="saab">Saab</option>
                            <option value="opel">Opel</option>
                            <option value="audi">Audi</option>
                        </select>
                    </li>
                    <ul>
                        <li>最近创作</li>

                    </ul>
                </ul>
            </section>

            <!--最近创作-->
            <section>
                <div class="mini-posts">
                    <!--小简介-->
                    <article class="mini-post">
                        <header>
                            <h3><a href="#">第一篇，纪念我们的爱情</a></h3>
                            <time class="published" datetime="2019-12-12">3-13 1:29</time>
                            <h5>大狗二狗的狗窝准备开工啦，希望大猪蹄子能够每天开开心心</h5>
                        </header>
                        <a href="#" class="image">
                            <img src="{{ url_for('static',filename='source/image/error/default.jpg') }}" alt=""/>
                        </a>
                    </article>
                    <article class="mini-post">
                        <header>
                            <h3><a href="#">网站计划表</a></h3>
                            <time class="published" datetime="2019-12-12">3-18 1:15</time>
                            <h5>需要实现的功能的列表以及完成程度，莫名头大</h5>
                        </header>
                        <a href="#" class="image">
                            <img src="{{ url_for('static',filename='source/image/error/default_1.jpg') }}" alt=""/>
                        </a>
                    </article>
                </div>
            </section>
        </section>
{% endblock %}
{% block javascript %}
    <script src="{{ url_for('static',filename='css/blog/blog_multiply/get_next_blogs.js') }}"></script>
{% endblock %}
