{% extends "base.html" %}
{% block main %}
    <div id="main">
            <article class="post">
                <header>
                    <!--博客题目-->
                    <div class="title">
                        <!--标题-->
                        <h2><a href="#">{{ blog['head']['title'] }}</a></h2>
                        <!--简介-->
                        <p>{{ blog['content']['introduce'] }}</p>
                    </div>

                    <!--相关信息-->
                    <div class="meta">
                        <time class="published" datetime="2019-3-13">{{ blog['head']['last_fetch_time'] }}</time>
                        <a href="#" class="author">
                            <span class="name">{{ blog['head']['assort'] }}</span>
                            <img src="{{ url_for('static',filename='images/icons/twodog.jpeg') }}" alt="" />
                        </a>
                    </div>
                </header>
                <!--图片-->
                {% if blog['content']['image'] %}
                    {% for image in data['images'] %}
                        <a href="#" class="image featured">
                            <img src="../static/Data/Blog/{{ data['id'] }}/{{ image }}" alt="" />
                        </a>
                    {% endfor %}
                {% else %}
                    <a href="#" class="image featured">
                        <img src="{{ url_for('static',filename='source/image/error/default.jpg') }}" alt="" />
                    </a>
                {% endif %}
                <div id="content">
                    {{ blog['content']['article']|safe}}
                </div>
            </article>

            <!--页面显示-->

            <ul class="actions pagination">
                {% if user %}
                    <li><a href="{{ blog['id'] }}/modify" class="button big before">修改</a></li>
                    <li><a href="{{ blog['id'] }}/delete" class="button big before">删除</a></li>
                {% endif %}
                <li><a href="#" class="disabled button big next">下一篇</a></li>
            </ul>
        </div>
{% endblock %}
{% block javascript %}
<script src="{{ url_for('static',filename='js/showdown.min.js') }}"></script>
{% endblock %}
