{% extends "base.html" %}
{% block main %}
        <!--main-->
        <div id="main">
            <div id="article">
            {% if data %}
                <article class="post">
                <header>
                    <!--博客题目-->
                    <div class="title">
                        <!--标题-->
                        <h2><a href="/blog/{{ data['id'] }}">{{ data['title'] }}</a></h2>
                        <!--简介-->
                        <p>{{ data['introduce'] }}</p>
                    </div>

                    <!--相关信息-->
                    <div class="meta">
                        <time class="published" datetime="2019-3-13">{{ data['time'] }}</time>
                        <a href="#" class="author">
                            <span class="name">大狗</span>
                            <img src="{{ url_for('static',filename='images/icons/twodog.jpeg') }}" alt="" />
                        </a>
                    </div>
                </header>
                <!--图片-->
                    {% if data['images'] %}
                <a href="/blog/{{ data['id'] }}" class="image featured">
                    <img src="../static/Data/Blog/{{ data['id'] }}/{{ data['images'][0] }}" alt="" />
                </a>
                    {% endif %}

                <footer>
                    <ul class="actions">
                        <li>
                            <a href="/blog/{{ data['id'] }}" class="button big">继续阅读</a>
                        </li>
                    </ul>
                    <ul class="stats">
                        <li>
                            <a href="#" >我的罗曼史</a>
                        </li>
                        <li>
                            <a href="#" class="icon fa-heart">0</a>
                        </li>
                        <li>
                            <a href="#" class="icon fa-comment">0</a>
                        </li>
                    </ul>
                </footer>
            </article>
            {% endif %}
            <!--页面显示-->
            </div>
            <ul class="actions pagination">
                <!--<li><a href="#" id="submit" class="disabled button big next">显示更多</a></li>-->
                <li><a href="#" id="submit" class="button big next">显示更多</a></li>
                <li><input type="hidden" name="next_data" value="2"></li>
            </ul>
        </div>

        <!--左侧目录-->
        <section id="sidebar">
            <!--介绍-->
            <section id="intro">
                <a href="#" class="logo"><img src="{{ url_for('static', filename='images/icons/twodog.jpeg') }}" alt="" /></a>
                <header>大狗二狗的狗窝</header>
                <p></p>
                <p></p>
                <ul style="list-style-type: none;">
                    {% if user %}
                        <li>
                            <a href="write" class="button big next">写点东西</a>
                        </li>
                    {% endif %}
                    <li>
                        <p style="margin-top: 20px;margin-bottom: 0px;">分类</p>
                        <select class="button big next">
                            <option value ="volvo">Volvo</option>
                            <option value ="saab">Saab</option>
                            <option value="opel">Opel</option>
                            <option value="audi">Audi</option>
                        </select>
                    </li>
                </ul>
            </section>

            <!--最近创作-->
            <section>
                <div class="mini-posts">
                    <!--小简介-->
                    <article class="mini-post">
                        <header>
                            <h3><a href="#">第一篇，纪念我们的爱情</a></h3>
                            <time class="published" datetime="2019-12-12">3-13 1:29</time>
                            <h5>大狗二狗的狗窝准备开工啦，希望大猪蹄子能够每天开开心心</h5>
                        </header>
                        <a href="#" class="image"><img src="{{ url_for('static',filename='images/photos/2019/3/01.jpeg') }}" alt=""/></a>
                    </article>

                    <article class="mini-post">
                        <header>
                            <h3><a href="#">网站计划表</a></h3>
                            <time class="published" datetime="2019-12-12">3-18 1:15</time>
                            <h5>需要实现的功能的列表以及完成程度，莫名头大</h5>
                        </header>
                        <a href="#" class="image"><img src="{{ url_for('static',filename='images/photos/2019/3/18.jpg') }}" alt=""/></a>
                    </article>

                </div>
            </section>
        </section>

<script type="text/javascript">
  $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
  $(function() {
    $('#submit').bind('click', function() {
      $.getJSON($SCRIPT_ROOT + '/getnext', {
        page: $('input[name="next_data"]').val()
      }, function(data) {
        $('input[name="next_data"]').val(data.result['page']);
        if (data.result['html']==null)
        {
            document.getElementById("submit").className = "disabled button big next";
            document.getElementById("submit").innerHTML = "没有更多了";
        }
        else
        {
        var html = '<article class="post">'+
                '<header>'+
                    '<div class="title">'+
                        '<h2>'+'<a href="/blog/'+ data.result['html']['id'] +'">'+data.result['html']['title']+'</a>'+'</h2>'+
                        '<p>'+data.result['html']['introduce']+'</p>'+
                    '</div>'+
                    '<div class="meta">'+
                        '<time class="published" datetime="2019-3-13">'+data.result['html']['time']+'</time>'+
                        '<a href="#" class="author">'+
                            '<span class="name">'+'大狗'+'</span>'+
                        '</a>'+
                    '</div>'+
                '</header>'+
                '<a href="#" class="image featured">'+
                    '<img src="../static/Data/Blog/'+ data.result['html']['id']+'/'+data.result['html']['images'][0]+'" alt="" />'+
                '</a>'+
                '<footer>'+
                    '<ul class="actions">'+
                        '<li>'+
                            '<a href="/blog/'+ data.result['html']['id'] +'" class="button big">'+'继续阅读'+'</a>'+
                        '</li>'+
                    '</ul>'+
                    '<ul class="stats">'+
                        '<li>'+
                            '<a href="#" >'+'我的罗曼史'+'</a>'+
                        '</li>'+
                        '<li>'+
                            '<a href="#" class="icon fa-heart">'+'0'+'</a>'+
                        '</li>'+
                        '<li>'+
                            '<a href="#" class="icon fa-comment">'+'0'+'</a>'+
                        '</li>'+
                    '</ul>'+
                '</footer>'+
            '</article>'
        $("#article").append(html);
        }
      });
      return false;
    });
  });
</script>
{% endblock %}
