{% extends "base.html" %}
{% block link %}
    <script src="{{ url_for('static',filename='js/blog/common/blog_get_next.js') }}"></script>
{% endblock %}
{% block main %}
    <!--main-->
    <div id="main">
        <a></a>

        <!--左侧目录-->
        <section id="sidebar">
            <!--介绍-->
            <section id="intro">
                <a href="#" class="logo">
                    <img src="{{ url_for('static', filename='source/image/icon/twodog.jpeg') }}" alt="" />
                </a>
                <header>大狗二狗的狗窝</header>
            </section>

            <!--最近创作-->
            <section>
                <div class="mini-posts">
                    <!--小简介-->
                    <article class="mini-post">
                        <header>
                            <h3><a href="#">第一篇，纪念我们的爱情</a></h3>
                            <time class="published" datetime="2019-12-12">3-13 1:29</time>
                            <h5>大狗二狗的狗窝准备开工啦，希望大猪蹄子能够每天开开心心</h5>
                        </header>
                        <a href="#" class="image"><img src="{{ url_for('static',filename='images/photos/2019/3/01.jpeg') }}" alt=""/></a>
                    </article>

                    <article class="mini-post">
                        <header>
                            <h3><a href="#">网站计划表</a></h3>
                            <time class="published" datetime="2019-12-12">3-18 1:15</time>
                            <h5>需要实现的功能的列表以及完成程度，莫名头大</h5>
                        </header>
                        <a href="#" class="image"><img src="{{ url_for('static',filename='images/photos/2019/3/18.jpg') }}" alt=""/></a>
                    </article>

                </div>
            </section>
        </section>
{% endblock %}
{% block javascript %}
    <script>

        function run_init_func(){
            window.alert($script_root);
            sidebar_get_blog_brif();
        }
        window.onload=run_init_func;
    </script>
{% endblock %}
